body {
    background-color: #f0e6ff; 
    font-family: 'Roboto', sans-serif; 
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    background-color: white; /* Fundo branco para a calculadora */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #6a0dad; /* Título em roxo */
}

.btn-roxo {
    background-color: #6a0dad; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    transition: background-color 0.3s; 
}

.btn-roxo:hover {
    background-color: #9b59b6;
}

h3 {
    color: #333; /
}


.stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; 
}

.star {
    position: absolute;
    background-color: white; 
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 1.5s infinite alternate; 
}

/* Animação de brilho das estrelas */
@keyframes twinkle {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
        opacity: 0.5;
    }
}
